<a href="Area.docx"> Area.docx </a><br>
<a href="Circle Through Three Points.docx"> Circle Through Three Points.docx </a><br>
<a href="How Many Pieces of Land.docx"> How Many Pieces of Land.docx </a><br>
<a href="index.html"> index.html </a><br>
<a href="Intersecting Lines.docx"> Intersecting Lines.docx </a><br>
<a href="Pick-up sticks.docx"> Pick-up sticks.docx </a><br>
<a href="Transmitters.docx"> Transmitters.docx </a><br>
